* {
     box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
}

body {
     font-family: 'Roboto', sans-serif;
}

.container {
    width: 960px;
    margin: auto;
}


section {
    padding: 50px 0;
}

nav {
    height: 50px;
    background-color: #4E4E4E;
}

nav a {
    color: white; 
    text-decoration: none;
    margin-right: 18px;
    scroll-behavior: smooth;
}

nav .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-page {
    height: 100vh;
    padding: 0;
    background-image: url(kotek.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    
}

.landing-page-shadow {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0 ,0, 0, .3);
    
}

h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    width: 800px;
}

.landing-page-shadow h1, .landing-page-shadow p {
    margin-bottom: 50px;

}

.landing-page-shadow .container {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.landing-page-btn {
    padding: 10px 55px;
    border: 3px solid white;
    color: white;
    text-decoration: none;
    
}
    
.animated a{
    background-color: none;
    transition: 1s;
}

.animated a:hover {
    background-color: white;
    color: black;
}

.About {
    background-color: #F1F1F1; 
}

.About h1 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    color: #152D41;
}

.About h2 {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.About-keeper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.About-keeper:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.About-keeper-pic {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 50%;
    background-image: url(dariak.png);
}

.About-keeper-desc {
    width: calc(100% - 250px);
}

.About-keeper-desc h2 {
    font: bold;
}

.About-keeper-desc2 {
    padding-left: 40px;
    text-align: right;
}

.Offer {
    background-color: #405d78;
}

.about h1 {
    color: #FFF;
    margin-bottom: 57px;
    font-size: 36px;
    font-weight: bold;
}

.offer h1 {
    color: #FFF;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    

}

.offer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 720px;
    margin: 30px auto;
}

.offer-box {
    position: relative;
    width: 27.5%;
    padding-bottom: 27.5%;
    margin-bottom: 5%;
    background-color: white;
    transition: 0.5s;
}

.offer-box:hover{
    transform: scale(1.05);
}

.offer-box-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.offer-box-content p {
    font-size: 25px;
}

footer {
    height: 60px;
    background-color: #4E4E4E;
}

footer a {
    color: white;
    text-decoration: none;
}

fbicon {
    float: left;
}

insticon {
    float: right;
}


@media only screen and (max-width: 768px) {
    .container{
        width: 90%;
    }
    .offer-wrapper{
        width: 80%;
    }
    .About-keeper-pic{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .offer-box-content p {
        font-size: 14px;
    }
    .About-keeper-desc2{
        margin-right: 10px;
    }
    h1 {
        font-size: 24px;
        font-weight: bold;
        width: 100%;
    }
    .About-keeper-desc {
        width: calc(100%);
        margin: 20px
    }
    .About h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        color: black;
    }
    footer {
        height: 70px;
    }
    
}